<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__left">
        <a class="footer__logo logo link-ul" href="#header">
          <img class="logo__img" loading="lazy" src="images/icons/Logo-white.svg" width="224" height="72"
            alt="логотип" />
        </a>

        <nav class="footer__nav nav" title="главное меню">
          <ul class="footer__list list-reset nav__list">
            <li class="footer__item nav__item">
              <a class="footer__link nav__link" href="#">О нас</a>
            </li>
            <li class="footer__item nav__item">
              <a class="footer__link nav__link" href="#">Проекты</a>
            </li>
            <li class="footer__item nav__item">
              <a class="footer__link nav__link" href="#">Отзывы</a>
            </li>
            <li class="footer__item nav__item">
              <a class="footer__link nav__link" href="#">Договор оферты</a>
            </li>
            <li class="footer__item nav__item">
              <a class="footer__link nav__link" href="#">Договор подряда</a>
            </li>
            <li class="footer__item nav__item">
              <a class="footer__link nav__link" href="#">Конфиденциальность</a>
            </li>
            <li class="footer__item nav__item">
              <a class="footer__link nav__link" href="#">Партнёрское соглашение</a>
            </li>


          </ul>
        </nav>

        <ul class="footer-social-list list-reset">
          <li class="footer-social-list__item">
            <a class="footer-social-list__link footer-social-list__link--vk " href="https://vk.com/medvedevbn"
              target="_blank"><span class="sr-only"> ссылка на социальную сеть </span></a>
          </li>
          <li class="footer-social-list__item">
            <a class="footer-social-list__link footer-social-list__link--inst " href="https://vk.com/medvedevbn"
              target="_blank"><span class="sr-only"> ссылка на социальную сеть </span></a>
          </li>
          <li class="footer-social-list__item">
            <a class="footer-social-list__link footer-social-list__link--fb " href="https://vk.com/medvedevbn"
              target="_blank"><span class="sr-only"> ссылка на социальную сеть </span></a>
          </li>
        </ul>
      </div>

      <div class="footer__center">
        <h6 class="footer-center__title title">Оставить заявку</h6>
        <form class="footer-form">
          <label for="">
            <input type="text">
          </label>
          <label for="">
            <input type="email">
          </label>
          <label for="">
            <input type="text">
          </label>
         <div class="footer-form__boxbtn">
           <button class="btn btn-reset">Отправить данные</button>
          <label for="">
            <input type="checkbox">
            <span>Согласен на обработку данных</span>
          </label>
         </div>
        </form>
      </div>

      <div class="footer__right">
        <p>
          Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта:
          разбавленное изрядной долей эмпатии, рациональное мышление позволяет оценить значение модели развития. Таким
          образом, консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании
          стандартных подходов.
        </p>
      </div>

    </div>

  </div>

</footer>
