<header id="header" class="header">
  <div class="container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" loading="lazy" src="images/icons/logo.svg" alt="логотип blanchard" />
      </a>
      <div class="header__menu">
        <nav class="nav" title="главное меню">
          <ul class="list-reset nav__list">
            <li class="nav__item">
              <a href="#about" class="nav__link ui-kit">О нас</a>
            </li>
            <li class="nav__item">
              <a href="#gallery" class="nav__link ui-kit" data-scroll>Проекты</a>
            </li>
            <li class="nav__item">
              <a href="#catalog" class="nav__link ui-kit" data-scroll>Этапы</a>
            </li>
            <li class="nav__item">
              <a href="#events" class="nav__link ui-kit" data-scroll>Отзывы</a>
            </li>
            <li class="nav__item">
              <a href="#contacts" class="nav__link ui-kit" data-scroll>Контакты</a>
            </li>
          </ul>
        </nav>
        <button class="search btn-reset">

        </button>
      </div>
    </div>
  </div>

</header>
