<section id="working" class="working section-padding">
  <h2 class="sr-only">Выставка картин, Прикоснитесь к прекрасному</h2>
  <div class="container">
    <h3 class="working__title title">Как мы работаем</h3>
    <div class="tabs">
      <ul class="btn-list list-reset">
        <li class="btn-list__item">
          <button class="btn-list__tab btn-list__tab--active btn-reset" data-path="a">
            1 шаг
          </button>
        </li>
        <li class="btn-list__item">
          <button class="btn-list__tab btn-reset" data-path="b">2 шаг</button>
        </li>
        <li class="btn-list__item">
          <button class="btn-list__tab btn-reset" data-path="c">3 шаг</button>
        </li>
        <li class="btn-list__item">
          <button class="btn-list__tab btn-reset" data-path="d">4 шаг</button>
        </li>
      </ul>

      <div class="tabs__content tabs__content--active" data-target="a">
        <div class="tabs__content-info">
          <div class="tabs__content-box">
            <h5 class="tabs__content-title">Проводим консультацию</h5>
            <p class="tabs__content-text">
              Влечет за собой процесс внедрения и модернизации приоритизации
              разума над эмоциями. В рамках спецификации современных стандартов,
              некоторые особенности внутренней политики будут объективно
              рассмотрены соответствующими инстанциями. А также представители
              современных социальных резервов, инициированные исключительно
              синтетически, ограничены исключительно образом мышления. Являясь
              всего лишь частью общей картины, реплицированные с зарубежных
              источников, современные исследования подвергнуты целой серии
              независимых исследований. Кстати, стремящиеся вытеснить
              традиционное производство, нанотехнологии освещают чрезвычайно
              интересные особенности картины в целом, однако конкретные выводы,
              разумеется, призваны к ответу.
            </p>
            <div class="tabs__content-btn-box">
              <button class="tabs__content-btn btn btn-reset">Подробнее</button>
              <button class="tabs__content-btn tabs__content-btn--black btn btn-reset">
                Договор
              </button>
            </div>
          </div>
        </div>
        <div class="tabs__content-img">
          <img src="images/section/consultation.jpg" alt="Проводим консультацию" />
        </div>
      </div>

      <div class="tabs__content" data-target="b">
        <div class="tabs__content-info">
          <div class="tabs__content-box">
            <h5 class="tabs__content-title">Составляем смету</h5>
            <p class="tabs__content-text">
              Внедрения и модернизации приоритизации разума над эмоциями. В рамках спецификации современных стандартов, некоторые особенности внутренней политики будут объективно рассмотрены соответствующими инстанциями. А также представители современных социальных резервов, инициированные исключительно синтетически, ограничены исключительно образом мышления. Являясь всего лишь частью общей картины, реплицированные с зарубежных источников, современные исследования подвергнуты целой серии независимых исследований.

            </p>
            <div class="tabs__content-btn-box">
              <button class="tabs__content-btn btn btn-reset">Подробнее</button>
              <button class="tabs__content-btn tabs__content-btn--black btn btn-reset">
                Договор
              </button>
            </div>
          </div>
        </div>
        <div class="tabs__content-img">
          <img src="images/section/consultation2.jpg" alt="Проводим консультацию" />
        </div>
      </div>

      <div class="tabs__content" data-target="c">
        <div class="tabs__content-info">
          <div class="tabs__content-box">
            <h5 class="tabs__content-title">Привлекаем подрядчиков</h5>
            <p class="tabs__content-text">
              Идейные соображения высшего порядка, а также новая модель организационной деятельности требует анализа прогресса профессионального сообщества. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от дальнейших направлений развития. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности говорит о возможностях системы массового участия. Принимая во внимание показатели успешности, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнить важные задания по разработке прогресса профессионального сообщества.

            </p>
            <div class="tabs__content-btn-box">
              <button class="tabs__content-btn btn btn-reset">Подробнее</button>
              <button class="tabs__content-btn tabs__content-btn--black btn btn-reset">
                Договор
              </button>
            </div>
          </div>
        </div>
        <div class="tabs__content-img">
          <img src="images/section/consultation3.jpg" alt="Проводим консультацию" />
        </div>
      </div>

      <div class="tabs__content" data-target="d">
        <div class="tabs__content-info">
          <div class="tabs__content-box">
            <h5 class="tabs__content-title">Инспектируем все этапы работ</h5>
            <p class="tabs__content-text">
              Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высококачественный прототип будущего проекта напрямую зависит от дальнейших направлений развития. Разнообразный и богатый опыт говорит нам, что новая модель организационной деятельности говорит о возможностях системы массового участия. Принимая во внимание показатели успешности, постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет.
            </p>
            <div class="tabs__content-btn-box">
              <button class="tabs__content-btn btn btn-reset">Подробнее</button>
              <button class="tabs__content-btn tabs__content-btn--black btn btn-reset">
                Договор
              </button>
            </div>
          </div>
        </div>
        <div class="tabs__content-img">
          <img src="images/section/consultation4.jpg" alt="Проводим консультацию" />
        </div>
      </div>
    </div>
  </div>
</section>
